
body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

section {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 24px;
    width: 350px;
}

h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

h3 span {
    font-weight: bold;
    font-size: 22px;
}

.formulario {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 16px;
}

.datas {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.campo select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
    padding-right: 40px;
    cursor: pointer;
}



.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.datas .campo:not(:last-child) {
    border-right: 1px solid #ccc;
}

label {
    font-size: 10px;
    font-weight: bold;
    color: #222;
    margin-bottom: 4px;
    text-transform: uppercase;
}

input[type="date"],
select {
    border: none;
    background-color: transparent;
    font-size: 14px;
    padding: 4px 0;
    outline: none;
    cursor: pointer;
    width: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    width: 100%;
    background: linear-gradient(90deg, #ff0050, #ff3366);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    margin: 16px 0;
}


button:hover {
    opacity: 0.9;
}


div > p {
    color: #555;
    font-size: 14px;
    margin: 6px 0;
    text-align: center;
    padding-bottom: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 14px;
}

ul li span:first-child {
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}

.linha {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}


hr {;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

ul li:last-child {
    font-weight: bold;
    font-size: 16px;
}
